:root {
  --main-bg-color: #707070;
  --main-text-color: #888888;
  --border-color: #00000029;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1500px;
  height: 2444px;
  font-family: 'Helvetica Neue', 'Regular';
}

/* ----- GLOBAL STYLES ------ */
.text-divider, .catalog .catalog-divider, .newsletter .newsletter-divider {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-divider::before, .catalog .catalog-divider::before, .newsletter .newsletter-divider::before,
.text-divider::after,
.catalog .catalog-divider::after,
.newsletter .newsletter-divider::after {
  content: '';
  height: 1px;
  background-color: var(--main-text-color);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.text-divider::before, .catalog .catalog-divider::before, .newsletter .newsletter-divider::before {
  margin-right: 20px;
}


.text-divider::after,
.catalog .catalog-divider::after,
.newsletter .newsletter-divider::after {
  margin-left: 20px;
}

.input-text.inputError {
  border: 2px solid red;
}

.btn {
  width: 160px;
  height: 40px;
  font-size: 14px;
  background-color: white;
  color: var(--main-text-color);
  -webkit-box-shadow: 0px 1px 6px #00000029;
          box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  cursor: pointer;
}

.input-text {
  width: 340px;
  height: 30px;
  border: 1px solid var(--border-color);
}

/* ----- HEADER ------ */
.header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 399.03px;
  text-align: center;
  background-color: var(--main-bg-color);
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}

.header span {
  display: inline-block;
  margin: 69px 637.5px 0 635px;
  font-size: 20px;
}

.header h1 {
  font-size: 40px;
  margin: 0 570.5px 0 571px;
}

.header p {
  margin: 24px 475.5px 0 476px;
  font-size: 14px;
}

.header nav {
  margin: 50px 368.5px 0 371px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ----- ABOUT ------ */
.about {
  color: var(--main-text-color);
  padding-top: 20.97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 79px;
}

.about article {
  margin: 0px 60px 95px 290px;
  text-align: left;
}

.about article h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about article p {
  font-size: 12px;
  line-height: 18px;
}

.about #registerUser {
  margin-right: 290px;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about #registerUser label {
  margin-bottom: 7px;
}

.about #registerUser span {
  font-size: 14px;
  color: #e74c3c;
}

.about #registerUser .btn {
  margin-top: 3px;
  width: 340px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about #registerUser .selector {
  margin-right: 40px;
}

/* ----- CATALOG ------ */
.catalog {
  color: var(--main-text-color);
  margin: 0 291px 0 286px;
}

.catalog .catalog-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  height: 740px;
  width: 931px;
  margin-bottom: 52px;
}

.catalog .catalog-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.catalog .catalog-item .display-item {
  margin-bottom: 14px;
  border: 1px solid var(--border-color);
  width: 200px;
  height: 150px;
}

.catalog .catalog-item .display-item img {
  display: block;
  height: 100%;
  width: 100%;
}

.catalog .catalog-item h4 {
  font-size: 14px;
  margin-bottom: 14px;
}

.catalog .catalog-item p {
  width: 200px;
  height: 60px;
  font-size: 12px;
}

.catalog .catalog-item .oldPrice {
  font-size: 12px;
}

.catalog .catalog-item .price {
  margin: 7px 0;
  font-weight: 600;
}

.catalog .catalog-item .installments {
  font-size: 12px;
  margin-bottom: 10px;
}

.catalog .catalog-item .btn {
  width: 200px;
  height: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.catalog .btn {
  width: 260px;
  height: 40px;
  margin: 0 auto 0 auto;
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* ----- NEWSLETTER ------ */
.newsletter {
  color: var(--main-text-color);
  padding-top: 138px;
}

.newsletter .newsletter-divider {
  padding: 0 290px;
}

.newsletter p {
  text-align: center;
  font-size: 14px;
  margin-top: 44px;
}

.newsletter #registerNewsletter {
  margin: 0 390px 71.76px 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  height: 145px;
  width: 725px;
}

.newsletter #registerNewsletter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter #registerNewsletter label {
  font-size: 12px;
}

.newsletter #registerNewsletter .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  margin: 0 auto;
}

/* ----- FOOTER ------ */
.footer {
  height: 293.24px;
  width: inherit;
  background-color: var(--main-bg-color);
  position: absolute;
  -webkit-clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

.footer p {
  text-align: center;
  font-size: 12px;
  color: white;
  margin: 157.24px 620px 86px 620px;
}
/*# sourceMappingURL=style.css.map */