:root {
    --color-primary: #FFFFFF;
    --color-secondary: #707070;
    --color-tertiary: #888888;
    --color-quaternary: #D6D6D6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: 'Helvetica Neue', sans-serif;
    width: 1499.5px;
    height: 2444px;
}

/* --------- HEADER ---------- */

.header{
    text-align: center;
    color: white;
    padding-top: 69px;
    background-color: var(--color-secondary);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
    height: 400px;
}


.header span{
    /* color: #FFFFFF; */
    display: inline-block;
    font-size: 18px;
}

.header h1{
    /* color: #FFFFFF; */
    font-size: 36px;
}


.header p{
    /* color: #FFFFFF; */
    font-size: 14px;
    margin-top: 24px;
}

.header nav{
    color: var(--color-tertiary);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    width: 769px;
}

.btn{
    width: 160px;
    height: 40px;
    font-size: 14px;
    background-color: white;
    color: var(--main-text-color);
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.header nav .btn{
    box-shadow: 0px 1px 6px #00000029;
}

/* --------- ABOUT ---------- */

.about{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 290px;
}

.about article{
    color: var(--color-secondary);
    padding-right: 60px;

}

.about article h2{
    font-size: 20px;
    font-weight: 400;
}

.about article p{
    font-size: 12px;
    color: var(--color-tertiary);
}

.about form{
    text-align: left;
    color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    font-size: 12px;
    width: fit-content;
}

.about form .input-container{
    display: flex;
    flex-direction: column;
}

.about form .gender-selector{
    display: inline-block;
    justify-content: space-between;

}

.error{
    color: red;
}

.about form .gender-selector .radioError{
    color: red;
}



.about form button{
    width: 100%;

}
.input-text{
    width: 385px;
    height: 30px;
    border: 1px solid var(--color-secondary); 
}


/* --------- CATALOG ---------- */
.catalog{
    padding: 80px 291px 0 286px;
}
.text-divider{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    color: #707070;
}

.text-divider::before,
.text-divider::after{
    content: '';
    height: 1px;
    background-color: var(--color-secondary);
    flex-grow: 1;
}

.text-divider::before {
    margin-right: 20px;
  }
  
.text-divider::after {
    margin-left: 20px;
}

.catalog .catalog-grid{
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
}

.catalog .catalog-grid .catalog-item{
    width: 200px;
    height: 350px;
    color: #707070;
}
.catalog .catalog-grid .catalog-item .display-item{
    width: 100%;
    height: 150px;
    border: 1px solid var(--color-secondary);
    margin-bottom: 14px;
}

.catalog .catalog-grid .catalog-item .product-info{
    margin-top: 14px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.catalog .catalog-grid .catalog-item .product-info .productName{
    font-size: 14px;
}

.catalog .catalog-grid .catalog-item .product-info .productDescription{
    font-size: 12px;
    font-weight: 200;
}

.catalog .catalog-grid .catalog-item .product-info .oldPrice{
    font-size: 12px;
}

.catalog .catalog-grid .catalog-item .product-info .price{
    font-size: 16px;
}

.catalog .catalog-grid .catalog-item .product-info .installments{
    font-size: 12px;
}

.catalog .catalog-grid .catalog-item .product-info .btn{
    width: 100%;
}
.catalog #showMoreBtn{
    color: var(--color-secondary);
    height: 39px;
    width: 260px;
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    cursor: pointer;
}

/* --------- NEWSLETTER ---------- */

.newsletter{
    padding: 139px 290px 71.76px 290px;
}

.newsletter p{
    text-align: center;
    font-size: 14px;
    color: var(--color-secondary);
}

.newsletter form{
    margin: 0 100px;
    margin-top: 40px;
    height: 145px;
    width: 725px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newsletter form div{
    display: flex;
    flex-direction: column;
}

.newsletter form div label{
    font-size: 12px;
    color: var(--color-secondary);
}

.newsletter form div input{
    width: 340px;
    height: 30px;
}

.newsletter form div .error{
    color: red;
    font-size: 12px;
}

.newsletter form #submitNews{
    width: 260px;
    height: 39px;
    color: var(--color-secondary);
    display: block;
    margin: 0 auto;
}





.footer{
    height: 293.24px;
    width: inherit;
    background-color: var(--color-secondary);
    position: absolute;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

.footer p{
    text-align: center;
    font-size: 12px;
    color: white;
    margin: 157.24px 620px 86px 620px;
}










