:root{
    --main-bg-color: #707070;
    --main-text-color: #888888;
    --border-color: #00000029;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1500px;
    height: 2444px;
    font-family: 'Helvetica Neue', 'Regular';
}


/* ----- GLOBAL STYLES ------ */

.text-divider{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    display: flex;
    align-items: center;

}

.text-divider::before,
.text-divider::after{
    content: '';
    height: 1px;
    background-color: var(--main-text-color);
    flex-grow: 1;
}

.text-divider::before {
    margin-right: 20px;
  }
  
.text-divider::after {
    margin-left: 20px;
}

.input-text.inputError{
    border: 2px solid red;
}



.btn{
    width: 160px;
    height: 40px;
    font-size: 14px;
    background-color: white;
    color: var(--main-text-color);
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.input-text{
    width: 340px;
    height: 30px;
    border: 1px solid var(--border-color); 
}

/* ----- HEADER ------ */

.header{
    width: fit-content;
    height: 399.03px;
    text-align: center;
    background-color: var(--main-bg-color);
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);

    span{
        display: inline-block;
        margin: 69px 637.5px 0 635px;
        font-size: 20px;
    }

    h1{
        font-size: 40px;
        margin: 0 570.5px 0 571px;
    }

    p{
        margin: 24px 475.5px 0 476px;
        font-size: 14px;
    }

    
    nav{
        margin: 50px 368.5px 0 371px; 
        display: flex;
        justify-content: space-between;

    }
}

/* ----- ABOUT ------ */

.about{
    color: var(--main-text-color);
    padding-top: 20.97px;
    display: flex;
    align-content: center;
    margin-bottom: 79px;

    article{
        margin: 0px 60px 95px 290px;
        text-align: left;

        h2{
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        p{
            font-size: 12px;
            line-height: 18px;
        }
    }

    #registerUser{
        margin-right: 290px;
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        label{
            margin-bottom: 7px;
        }

        span{
            font-size: 14px;
            color: #e74c3c;
        }

        .btn{
            margin-top: 3px;
            width: 340px;
            box-shadow: none;
        }

        .selector{
            margin-right: 40px;
        }
    }
}

/* ----- CATALOG ------ */

.catalog{
    color: var(--main-text-color);
    margin: 0 291px 0 286px;
    
    .catalog-divider{
        @extend .text-divider
    }
    

    .catalog-grid{
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 40px;
        height: 740px;
        width: 931px;
        margin-bottom: 52px;
    }


    .catalog-item{
        width: fit-content;
        height: fit-content;
        
        .display-item{
            margin-bottom: 14px;
            border: 1px solid var(--border-color);
            width: 200px;
            height: 150px;
            
            img{
                display: block;
                height: 100%;
                width: 100%;
            }
        }

        h4{
            font-size: 14px;
            margin-bottom: 14px;
        }

        p{
            width: 200px;
            height: 60px;
            font-size: 12px;
        }

        .oldPrice{
            font-size: 12px;
        }
        
        .price{
            margin: 7px 0;
            font-weight: 600;
        }

        .installments{
            font-size: 12px;
            margin-bottom: 10px;
        }

        .btn{
            width: 200px;
            height: 30px;
            box-shadow: none;
        }
    }

    .btn{
        width: 260px;
        height: 40px;
        margin: 0 auto 0 auto;
        display: block;
        box-shadow: none;
    }
}

/* ----- NEWSLETTER ------ */

.newsletter{
    color: var(--main-text-color);
    padding-top: 138px;

    .newsletter-divider{
        @extend .text-divider;
        padding: 0 290px;
    }

    p{
        text-align: center;
        font-size: 14px;
        margin-top: 44px;
    }

    #registerNewsletter{
        margin: 0 390px 71.76px 390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        height: 145px;
        width: 725px;
        div{
            display: flex;
            flex-direction: column;
        }

        label{
            font-size: 12px;
        }

        .btn{
            box-shadow: none;
            display: block;
            margin: 0 auto;
        }
    }
}


/* ----- FOOTER ------ */

.footer{
    height: 293.24px;
    width: inherit;
    background-color: var(--main-bg-color);
    position: absolute;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);

    p{
        text-align: center;
        font-size: 12px;
        color: white;
        margin: 157.24px 620px 86px 620px;
    }


}